
:root {
    --primary: #D1AE52;
    --lead: #E3E3E3;
    --neutral_1: #999999;
    --neutral_2:#666666;
    --neutral_3:#666666;
    --border: #333333;
    --bg_1: #0A0A0A;
    --bg_2: #1A1A1A;
    --accent_1: #04BE02;
    --accent_2: #EA4E3D;
    --accent_3: #FFAA09;
    --leftnav_active:#999999;
    --text_primary: #D1AE52;
    --text_accent3: #703904;
    --home_bg: #1A1A1A;
    --web_left_bg_q: #232323;
    --skin__web_btmnav_db: #0A0A0A;
}
:root:root {
    --van-popup-round-radius: 3%;
    --van-popup-close-icon-margin: 1rem;
    --van-tabs-line-height: 2.5rem;
    --van-tabs-bottom-bar-height:.2rem;
    --van-tabs-bottom-bar-width: 5rem;
    --van-tabs-line-height:3.3rem;
    --van-tab-text-color:var(--lead);
    --van-tab-line-height:2rem;
    --van-button-primary-background:var(--lead);
    --van-button-primary-border-color:var(--border);
    --van-button-radius : .4rem;
    --van-tabs-bottom-bar-color:var(--primary);
    --van-field-input-text-color:var(--lead);
    --van-field-icon-size:1.5rem;
    --van-field-word-limit-line-height:1.5rem;
    --van-field-clear-icon-size: 1.5rem;
    --van-field-label-margin-right:.5rem;
    --van-field-label-color:var(--lead);
    --van-cell-text-color:var(--lead);
    --van-cell-background:var(--home_bg);
    --van-padding-base:1rem;
    --van-cell-active-color:var(--bg_2);
    --van-cell-icon-size:1rem;
    --van-cell-line-height:2rem;
    --van-cell-vertical-padding:1rem;
    --van-cell-horizontal-padding: 0;
    --van-tabs-nav-background: transparent;
    /* 跑马灯样式 */
    --van-notice-bar-height:3rem;
    --van-notice-bar-line-height:0;
    --van-notice-bar-icon-size:1.5rem;
    --van-notice-bar-icon-min-width:2.2rem;
    --van-notice-bar-background:transparent;
    --van-notice-bar-text-color:var(--accent_3);
    --van-notice-bar-padding:0;
    /* 大厅中部导航 */
    --van-popup-background: var(--bg_2);
    --van-grid-item-content-background:var(--bg_2);
    --van-popover-light-background:var(--bg_2);
    --van-grid-item-text-color:var(--neutral_1);
    --van-grid-item-text-font-size:.8rem;
    --van-grid-item-content-active-color: transparent;
    --van-grid-item-content-padding: 0 .2rem;
    --van-popover-action-width:700px;
    --van-popover-action-height:800px;
    /* 轻提示 */
    --van-toast-background:var(--lead);
    --van-toast-icon-size: 2rem ;
    --van-toast-text-color: var(--home_bg);
    --van-toast-font-size: 1rem;
    --van-toast-line-height:1rem;
    --van-toast-max-width: calc(100vh * 11 / 25);
    --van-toast-default-width: 0;
    --van-toast-default-min-height: 1rem;
    --van-toast-radius: .7rem;
}

/* 分割细线 */
.van-hairline--top::after {
    border-color: var(--neutral_1);
}
.chargePop .van-tab {
    padding: 0;
}
.interest-content .van-tab {
    justify-content: start;
    flex: none;
}
.interest-content .van-tab span {
    font-size: .9rem;
}
/* 导航Tab背景 */
.van-tabs__nav--line {
    background-color: transparent;
    padding-bottom: 1.2rem;
}
/* 导航文字高亮 */
body .van-tab--active {
    color: var(--primary);
}
/* 充值按钮 */
.van-button__icon.van-icon {
    flex: 1;
  }
.van-button__content .van-button__text {
    flex: 9;
}
button {
    background-color: var(--primary);
}
.app-container .van-icon-arrow-left {
    font-size: 1.3rem;
    cursor: pointer;
}
.my-hairline::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(to bottom, transparent 49.5%, rgba(255, 255, 255, 0.233) 50.5%);
}
.my-hairline {
    position: relative;
}
.van-icon__image {
    width: 1.5em;
    height: 1.5em;
}
.van-field__control::placeholder {
    color: var(--neutral_2);
}
.van-field__label {
    font-size: 1rem;
    line-height: 1.3rem;
}
.chargePop .van-field__control {
    line-height: 1.3rem;
}
.van-field-7-input {
    line-height: 1.3rem;
}
.chargePop .van-icon-clear {
    line-height: 1.4rem;
}
.van-cell__title{
    text-align: start;
}
.van-cell__left-icon{
    font-size: 1.5rem;
    color: var(--primary);
}
.van-notice-bar .van-notice-bar__left-icon {
    color: var(--neutral_1);
}
/* 跑马灯图标色 */
.van-notice-bar .van-icon-envelop-o {
    color: var(--neutral_1);
    font-size: 2rem;
    padding-left: .3rem;
}
/* 中部导航 */
.van-popover {
    border-radius: 4%;
}
.van-popover .van-icon__image {
    width: 2rem;
    height: 2rem;
}
.van-popover .van-grid {
    width: 70%;
}
.van-popover .van-grid-item {
    margin:.5rem 0;
}
.home-page .van-popup {
    border-radius: 4%;
    width: 20rem;
}
.profile-content .el-input .el-input__icon {
    width: 2rem;
    height: 2rem;
    color: var(--neutral_2);
    margin: 0;
}
.defaultBtn {
    width: 4.5rem;
    height: 1.8rem;
    border-radius: .4rem;
    margin-right: .5rem;
    border: solid 1px var(--primary);
    color: var(--text_accent3);
    font-size: .8rem;
    flex-shrink: 1;
    cursor: pointer;
}
body .van-toast {
    display: inline-flex;
    padding: .7rem 2rem;
}
body .van-toast__text {
    margin: 0;
    margin-left: 1rem;
}
.van-toast__icon {
    color: rgb(230 188 56);
}